.swipershop_wrap{
    padding-top: 140px;
}
.top{
    width: 1200px;
    margin: 0 auto;
    overflow: visible; 
    position: relative;
    padding: 20px 50px 0;
    box-sizing: border-box;
}
.top .swiper{
    height: auto;
}
.top .swiper-slide img{
    width: 100%;
    border-radius: 10px;
}
.sub{
    color: rgba(34,34,34,.5);
    font-size: 15px;
    margin-top: 2px;
}

.slide-content p{
    padding-left:10px;
    position: absolute;
    bottom: 10px;
    font-weight: bold;
    font-size: 13px;
    color: white;
}

.shopslide-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative; /* 상대 위치를 설정하여 오버레이를 배치합니다. */
  }
  
  .image-container {
    position: relative;
    display: inline-block; /* 이미지와 동그라미를 같은 줄에 표시합니다. */
  }
  
  .circle-overlay {
    position: absolute;
    top: 10px; /* 이미지의 상단 여백 설정 */
    left: 10px; /* 이미지의 좌측 여백 설정 */
    width: 40px; /* 동그라미의 너비 설정 */
    height: 40px; /* 동그라미의 높이 설정 */
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* 내부 이미지가 동그라미를 벗어나지 않도록 설정 */
  }
  
  .circle-overlay .circle {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지를 동그라미에 가득 차게 표시 */
    border-radius: 50%;
  }

  .top-rank {
    position: relative;
    padding: 20px 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .custom-prev{
    position: absolute;
    width: 40px;
    height: 40px;
    background: url(/public/assets/prevarrow.svg) no-repeat center / 80px 80px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: translateY(-50%); /* 버튼을 수직 중앙에 정렬 */
    top: 50%; /* 버튼을 수직 중앙에 정렬 */
    z-index: 10;
    left:25px;
    opacity: 0; /* 초기에는 숨겨진 상태 */
  transition: opacity 0.3s ease; /* 투명도 변화에 애니메이션 적용 */
  }
  .custom-next {
    position: absolute;
    width: 40px;
    height: 40px;
    background: url(/public/assets/nextarrow.svg) no-repeat center / 80px 80px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: translateY(-50%); /* 버튼을 수직 중앙에 정렬 */
    top: 50%; /* 버튼을 수직 중앙에 정렬 */
    z-index: 10;
    right:25px;
    opacity: 0; /* 초기에는 숨겨진 상태 */
  transition: opacity 0.3s ease; /* 투명도 변화에 애니메이션 적용 */
  }

  .top-rank:hover .custom-prev,
.top-rank:hover .custom-next {
    
  opacity: 1;
}

.shopswiper-container{
    width: 60%;
    height: 60%;
}

.swipershop_wrap .top .swipershop-pagination{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.swipershop_wrap .top .swipershop-pagination  .swiper-pagination-bullet{
  width: 6px !important;
  height: 6px !important;
  background-color: rgba(34,34,34,0.8) !important;
}


.shopswiper_tag{
  color:#7b7b7b;
  font-size: 12px;
  font-weight: bold;
}